@model IEnumerable<ChildCareApp.Activity>

@{
    ViewData["Title"] = "Activity";
}

<h1>Activity</h1>

<p>
    <a asp-action="CreateActivity">Create Activity</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FirstName)
            </td>

        </tr>
}
    </tbody>
</table>
